<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SoftwareEng.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SoftwareEng.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <SoftwareEng.Properties.Settings>
            <setting name="DefaultImageName" serializeAs="String">
                <value>Image</value>
            </setting>
            <setting name="AlbumXMLFile" serializeAs="String">
                <value>albums.xml</value>
            </setting>
            <setting name="PhotoXMLFile" serializeAs="String">
                <value>photos.xml</value>
            </setting>
            <setting name="PhotoLibraryName" serializeAs="String">
                <value>photo library</value>
            </setting>
            <setting name="PhotoLibraryBackupName" serializeAs="String">
                <value>Backup Recover Album</value>
            </setting>
            <setting name="PhotoLibraryThumbsDir" serializeAs="String">
                <value>thumbs_db</value>
            </setting>
            <setting name="XMLRootElement" serializeAs="String">
                <value>database</value>
            </setting>
            <setting name="OrgName" serializeAs="String">
                <value>PhotoBomber Studios</value>
            </setting>
            <setting name="smThumbSize" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="medThumbSize" serializeAs="String">
                <value>240</value>
            </setting>
            <setting name="lrgThumbSize" serializeAs="String">
                <value>480</value>
            </setting>
            <setting name="smThumbDir" serializeAs="String">
                <value>sm</value>
            </setting>
            <setting name="medThumbDir" serializeAs="String">
                <value>med</value>
            </setting>
            <setting name="lrgThumbDir" serializeAs="String">
                <value>lrg</value>
            </setting>
            <setting name="CaptionMaxLength" serializeAs="String">
                <value>140</value>
            </setting>
            <setting name="CurrentThemeKey" serializeAs="String">
                <value>currentTheme</value>
            </setting>
            <setting name="SettingPath" serializeAs="String">
                <value>setting.xml</value>
            </setting>
        </SoftwareEng.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <SoftwareEng.Properties.Settings>
            <setting name="AppTitleBarText" serializeAs="String">
                <value>PhotoBomber - My Photo Library!</value>
            </setting>
        </SoftwareEng.Properties.Settings>
    </applicationSettings>
</configuration>
