<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SoftwareEng.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    </startup>
    <userSettings>
        <SoftwareEng.Properties.Settings>
            <setting name="DefaultImageName" serializeAs="String">
                <value>Image</value>
            </setting>
            <setting name="AlbumXMLFile" serializeAs="String">
                <value>albums.xml</value>
            </setting>
            <setting name="PhotoXMLFile" serializeAs="String">
                <value>photos.xml</value>
            </setting>
            <setting name="PhotoLibraryName" serializeAs="String">
                <value>photo library</value>
            </setting>
            <setting name="PhotoLibraryBackupName" serializeAs="String">
                <value>_backup</value>
            </setting>
            <setting name="PhotoLibraryThumbsDir" serializeAs="String">
                <value>thumbs_db</value>
            </setting>
            <setting name="XMLRootElement" serializeAs="String">
                <value>database</value>
            </setting>
            <setting name="OrgName" serializeAs="String">
                <value>PhotoBomber Studios</value>
            </setting>
        </SoftwareEng.Properties.Settings>
    </userSettings>
</configuration>